.navbar-light .navbar-nav .nav-link {
    color: black
}
body{
    background-color: rgb(42,42,42);
}
header{
    /*background-color: rgb(26,27,27);*/
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}
li a{
    color: white !important;
}

li a:hover{
    color: #ef6c00!important;
}
p{
    margin: 0;
    padding: 0;
}

h1{
    font-family: 'Rubik', sans-serif;
    /*background-color: #ef6c00;*/
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    /*color: black;*/
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 2.5rem;
    color: white;
    width: fit-content!important;
    max-width: fit-content!important;
}

nav{
    width: fit-content!important;
    max-width: fit-content!important;
}

.btn-outline-success{
    color: #e91e63;
    border-color:#e91e63;
}

.sinopsis{
    margin-bottom: 20px;
}

.card-titulo{
    font-family: 'Rubik', sans-serif;
    color: rgb(42,42,42);
}

.page-footer{
    background: rgb(26,27,27);
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100vw;
    color: white;
}

.navbar-light .navbar-toggler{
    color: white;
    border-color: white;
    margin-bottom: 13px;
    margin-top: 13px;
}

.navbar-toggler{
    background-color: white;
}

.navbar{
    position: fixed!important;
    top: 72px!important;
}

.nav{
    align-items: center;
}

.navegacion{
    background: #e91e63;
    border-radius: 18px;
}

.card{
    margin-top: 3rem;
    margin-bottom: 6rem;
    /*flex-direction: row !important;*/
    /*width: initial !important;*/
    /*border-radius: 25px!important;*/
    background-color: rgb(26,27,27)!important;
    color: white;
    position: inherit!important;
}
.card-titulo{
    color: white!important;
}

.btn-outline-success:hover{
    background-color: #ef6c00;
    border-color:#ef6c00;
}

.form-control{
    width: initial;

}
.form-inline{
    margin-top: 3rem;
}

form{
    display: flex;
}



.buscador{
    margin-top: 50px;
    background-color: rgb(26,27,27);
    color: white;
    padding: 50px;
    border-radius: 25px;
}

#send{
    margin-left: 15px;
}

.movie-data{
    display: flex;
    flex-direction: column;
    width: 300px;
}

.card-img-top{
    padding: 10px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.btn-quitar{
    /*margin-left: 25px;*/
}

.error{
    margin-top: 15px;
    color: white;
}

/* a partir de aca es para ver.index */

.mostrador{
    display: flex;
    flex-wrap: wrap;
}

/*videos*/

.movie{
    width: 100%;
    height: calc(60vw * 0.5625);
    max-width: 560px;
    max-height: 315px;

}

.listadoRecomendaciones{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.peliculas{
    margin: 80px auto auto;
    background-color: rgb(26,27,27);
    color: white;
    padding: 50px;
    border-radius: 25px;
    max-width: 630px;

}

.peliculas h3{
    margin-bottom: 30px;
}

.div-que-mirar{
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-top: 45px;
}

.div-que-mirar h2{
    color: white;
    font-size: 3rem;
}

.main-recomendaciones{
    margin-bottom: 100px;
}

.sin-peliculas{
    color: white;
    display: block;
    margin: auto;
    padding-top: 40px;
}

.offline {
    top: 36px;
    position: absolute;
    right: 56px;
    /*background-color: white;*/
    border-radius: 25px;
    width: 85px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: red;
    color: white;
    font-weight: bold;

}


.online {
    top: 36px;
    position: absolute;
    right: 56px;
    /*background-color: white;*/
    border-radius: 25px;
    width: 85px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: green;
    color: white;
    font-weight: bold;

}

.loading.active{
    visibility: initial;
}

.loading{
    visibility: hidden;
    top: 70px;
    position: absolute;
    right: 56px;
    /*background-color: white;*/
    border-radius: 25px;
    width: 85px;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: yellow;
    color: black;
    font-weight: bold;
}

.img-offline{
   display: none;
}
.img-online{
    display: flex;
    /* justify-content: center; */
    margin-top: 55px;
    margin-bottom: 115px;
    flex-direction: column;
    align-items: center;

}
.img-online img{
    width: 80%;
    max-width: 800px;
}

.p-offline{
    display: none;
}

.p-online{
    display: block;
    color: white;
    max-width: 80%;
    font-size: 1.4rem;
    margin: auto auto 50px;

}


